.vs
/build/ios
/build/tvos
/build/watchos
/build/osx

*.user
xcuserdata
build/vs2019
*.xcuserdatad
/data/shaders/generated
/data/BTL_A3.trace.txt
/build/vs2019_tools
build_vs2022
vs2022_tools
data
build_vs2026
vs2026_tools
